<div id="particles" class="bg d-flex justify-content-center align-items-center">
    
    <div id="intro" class="sign-in p-5 w-50 rounded-4">
        <h2 class="text-light login-header text-center text-black">Account Setting</h2>
        <div class="line mb-5 mx-auto"></div>
        <form [formGroup]="accountSetting" (click)="onUpdatePassword(accountSetting)" >
            <div>
                 <h1 class="text-success text-center" *ngIf="responseMessage == 'password not correct'">{{responseMessage}}</h1> 
                <h1 class="text-success  text-center mb-4" *ngIf="responseMessage == 'password changed success'">{{responseMessage}}</h1>
            </div>




            <input formControlName="password" type="password" class="form-control my-3" placeholder="Enter Your Old Password">

            <p class="text-warning text-bold ms-md-3"
                *ngIf="accountSetting.controls['password']?.errors?.['required']  && accountSetting.controls['password'].touched">
                Please enter your Old Password
            </p>

            <!-- <p class="text-warning text-bold ms-md-3 "
                *ngIf="accountSetting.controls['password']?.errors?.['password']  && accountSetting.controls.password.touched">
                Please enter vaild Password
            </p> -->
           

            <input formControlName="newPassword" type="password" class="form-control my-3"
                placeholder="Enter Your New Password">

            <p class="text-warning text-bold ms-md-3"
                *ngIf="accountSetting.controls['newPassword']?.errors?.['required']  && accountSetting.controls['newPassword'].touched">
                Please enter your New Password
            </p>

            <input formControlName="RePassword" type="password" class="form-control my-3"
            placeholder="Re-Type Your New Password">

        <p class="text-warning text-bold ms-md-3"
            *ngIf="accountSetting.controls['RePassword']?.errors?.['required']  && accountSetting.controls['RePassword'].touched">
            Please Re-Type New Password
        </p>

        

        <p class="text-warning text-bold ms-md-3"
        *ngIf="accountSetting.errors?.['valueDoesNotMatch'] && accountSetting.controls['RePassword'].touched">
         {{accountSetting.errors?.['valueDoesNotMatch']}}
        </p>
        
            <button class="bg-btn text-white btn w-100 my-3">Update Password</button>
            <!--onchange="btnDisable(registerationForm)" [disabled]="btnDisable(registerationForm)"-->
        </form>



    </div>
</div>

